body{
    display: flex;
}

.contenedor{
    border: 3px solid rgb(16, 103, 153);
    margin: 0 auto;
    width: 60%;
    background: rgb(182, 217, 247);
    padding: 10px;
}

.principal{
    background: #6c52e0;
    padding: 10px;
}

.img{
    width: 150px;
    height: 150px;
}

.header{
    display: flex;
}

.nombre{
    margin-left: 40px;
    width: 100%;
}

.titulo{
    border: 1px solid #664bdf; 
    color: #664bdf;
}